<a routerLink=""><h1 class="white"><b>{{title}}</b></h1></a>
<div class="routing-panel">
    <nav>
        <a [routerLink]="['catalog']">Каталог</a>
        <a [routerLink]="['auth']" [hidden]="(currentToken != null)" >Авторизация</a>
        <a [routerLink]="['reg']" [hidden]="(currentToken != null)" >Регистрация</a>
        <a [hidden]="(currentToken == null)">Привет, {{currentUser?.name}}</a>
        <a [routerLink]="['/']" [hidden]="(currentToken == null)" (click)="onLogOut()">Выйти</a>
        <a [routerLink]="['basket']" [hidden]="(currentToken == null)" >Корзина</a>
    </nav>
</div>