<h4>Каталог товаров</h4>
<div class="product-list" *ngIf="products.length">
    <product-item *ngFor="let product of products" [product]="product" (add_to_cart)="addToCart($event)" ></product-item>
</div>