<h4>Товары в вашей корзине</h4>
<div class="basket-list" *ngIf="basketElements.length">
    <basket-item *ngFor="let basketElement of basketElements" [basketElement]="basketElement"></basket-item>
</div>