.basket-item {
    width: 600px;
    padding: 1em;
    display: flex;
    position: relative;
    /*align-items: center;*/
}

.basket-item .checkbox {
    margin-right: .25em;
}

.basket-item:hover {
    background-color: lightblue;
}

.basket-item.completed .title {
    text-decoration: line-through;
}

.basket-item.completed .title,
.basket-item.completed .material-icons {
    color: lightgray;
}

.basket-item input {
    flex: 1;
    margin-right: 1rem;
}

.basket-item .actions {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
}

.basket-item:hover .actions {
    opacity: 1;
}

.basket-item img {
    max-height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.basket-item a {
    text-decoration: none;
    color: #757575;
}

.title {
    position: absolute;
    top: 50%;
    /*margin: 50px;*/
}