<form class="product-form" (ngSubmit)="onSubmit(); productForm.reset()" #productForm="ngForm">
    <input type="text" name="title" [(ngModel)]="title" placeholder="Что нужно сделать?" required>
    <button type="submit" [disabled]="productForm.form.invalid">Добавить</button>
</form>