main {
    width: 900px;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header-part {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: forestgreen;
    height: 56px;
    min-height: 56px;
    padding: 0;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
}

header-part img {
    width: 50px;
}

header-part h1 {
    font-weight: 400;
    margin: 0 0 0 10px;
    color: white;
}

header-part .routing-panel {
    margin-left: 50px;
}

header-part > * {
    color: white;
    text-decoration: none;
}

product-form,
product-list {
    width: 500px;
}