<form class="auth-form" (ngSubmit)="onSubmit(); userForm.reset()" #userForm="ngForm">
    <table>
        <tr><td><label>Логин</label></td><td><input type="text" name="login" [(ngModel)]="login" required></td></tr>
        <tr><td><label>Пароль</label></td><td><input type="password" name="password" [(ngModel)]="password" required></td></tr>
        <tr><td></td><td><button type="submit" [disabled]="userForm.form.invalid">Войти</button></td></tr>
    </table>
</form>