.reg-form input {
    flex: 1;
}

.reg-form input:focus {
    border: 1px solid #1976D2;
}

.reg-form input:focus.ng-invalid.ng-dirty {
    border: 1px solid #dd0031;
}

.reg-form button {
    margin-left: 16px;
}

.reg-form {
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    width: 100%;
    background-color: white;
}

form input {
    margin: 10px;
}